{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'Publications-list' %}"><h1>Mi primer Blog</h1></a>  
        <a href="{% url 'Publication-create' %}">Nueva</a>
    </header>


    {% block content %}
    {% endblock content %}
</body>
</html>